<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<h1>Login Here</h1>

<div class="form-block">
    <form method="post" th:action="@{/login}">
        <div th:if="${param.error}" class="error">
            Invalid Credentials
        </div>
        <div th:if="${param.logout}" class="success">
            You have been logged out
        </div>
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="email" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <input type="submit" value="Login" class="btn-submit">
    </form>
</div>

<p><a th:href="@{/}" class="back-home">Back to home page</a></p>

</body>
</html>
